<a href="/board/?id=<%=id%>&text=<%=text%>">
  <div class="post" id="<%=id%>">
    <div class="pic-box">
      <div class="pic-name"><%=title%></div><img class="pic-img" src="/imgss/hamsterlooking-removebg.png" alt="<%=id%>" data-keyname="공격적">
    </div>
    <div class="pic-text"><%=createdAt%></div>
  </div>